* {
  font-weight: normal;
}

#__next {
  margin: 0;
  padding: 0;
}

:root {
  --themeColor: #AE92CB;
  --circleColor: #AE92CB;
}

::-webkit-scrollbar {
  display: none;
}



.checkout-container {
  margin-top: 100px;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


textarea:focus,
input:focus {
  outline: none;
}

.checkout-wrapper {

  height: 100%;
  display: flex;
  justify-content: space-between;

}
.checkout-option1{
  order: 1;
}

.checkout-option2{
  order: 2;
  text-align: right;
}
.checkout-price{
  color: var(--themeColor);

}


@media screen and (max-width: 1100px) {

  .checkout-container{
    margin-top: 100px;
    display: block;
    height: 100%;
    text-align: center;
  }

  .checkout-wrapper{
    flex-direction: column;
    height: 100%;
    gap: 120px;
  }
  .formFlex{
    flex-direction: column;
  }
  input{
    text-align: center;
  }
  textarea{
    text-align: center;
  }

  .checkout-option1{
    order: 2;
  }
  .checkout-option2{
    order: 1;
    text-align: center;
  }
}


.formFlex {
  display: flex;
  gap: 20px;
}

.form-content form {
  display: flex;
  flex-direction: column;
}

.form-content input {
  margin: 20px 0px;
  font-size: 16px;
  font-family: "Open Sans";
  background: none;
  border: none;
  border-bottom: 1px solid grey;
}

.form-content input:focus {
  border-bottom: 1px solid black;
}

.formFlex textarea {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid grey;
}

.form-content input[type=submit] {
  border: none;
  font-size: 16px;
  padding: 20px 0px;
  background: var(--themeColor);
  color: #fff;
  transition: 0.35s ease-in-out;
}

.form-content input[type=submit]:hover {
  background: black;
  cursor: pointer;
  transition: 0.35s ease-in-out;
  color: #fff;
}




.switch-product-component {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0);
  height: 100vmax;
  width: 0;
}

body {
  font-family: "Open Sans";
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

button {
  margin: 0;
  padding: 0;
}

#__next .main-container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.navbar-container {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.cart-icon {
  font-size: 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
}

.cart-item-qty {
  position: relative;
  top: -20px;
  left: -5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: black;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  font-weight: 600;
}

.footer-container {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 24px;
  order: 1;
}

.top div:nth-child(1) {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.top a {
  color: #A0A0A0;
  text-decoration: none;
}

.top a:hover {
  transition: 0.35s ease-in-out;
  color: black;
}

.top a:nth-child(2) {
  padding: 0 21px;
}

.bottom {
  order: 2;
  display: flex;
  justify-content: center;
}

.bottom a {
  color: #A0A0A0;
  text-decoration: none;
}

.bottom a:hover {
  transition: 0.35s ease-in-out;
  color: black;
}

.policy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}


.home-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 50px 0px 100px 0px;

}



.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right::before {
  z-index: -99;
  height: 71%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  content: '';
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  background: var(--circleColor);
  position: absolute;
}

.right img {
  width: 80%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h3 {
  font-size: 1.25rem;
  color: #B8B8B8;
  padding: 0;
  line-height: 0;
}

h1 {
  font-size: 3.56rem;
  margin: 0px 0px;
  padding: 0;

}

.price {
  display: flex;
  gap: 10px;
  font-size: 2.25rem;
  color: #B8B8B8;
}

.new-price {
  color: var(--themeColor);
}

.quantity-container {
  font-size: 16px;
  border: 1px solid #D0D0D0;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.qty-plus {
  background: #fff;
  border-left: 1px solid #D0D0D0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  transition: 0.35s ease-in-out;
}

.qty-plus:hover {
  cursor: pointer;
  background: #ececec;
}

.qty-minus:hover {
  cursor: pointer;
  background: #ececec;
  transition: 0.35s ease-in-out;
}

.qty-minus {
  transition: 0.35s ease-in-out;
  background: #fff;
  border-right: 1px solid #D0D0D0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.qty-qty {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1rem;
  border: none;
}

.button-add-to-cart-unavailable {
  aspect-ratio: 4/1;
  height: 60px;
}

.button-buy-now-unavailable {
  aspect-ratio: 4/1;
  height: 60px;
  background: none;
  border: 1px solid #e6e6e6;

}

.button-add-to-cart-available {
  background: black;
  border: none;
  color: #fff;
  aspect-ratio: 4/1;
  height: 60px;
  transition: 0.25s ease-in-out;
}

.button-add-to-cart-available:hover {
  background: var(--themeColor);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.button-buy-now-available {
  border: 1px solid #D0D0D0;
  background: #fff;
  color: black;
  aspect-ratio: 4/1;
  height: 60px;
  transition: 0.25s ease-in-out;
}

.button-buy-now-available:hover {
  transition: 0.25s ease-in-out;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  cursor: pointer;
}

.button-section {
  display: flex;
  gap: 20px;
}

.desc {
  display: flex;
  flex-direction: column;

}

.desc p {
  font-size: 18px;
  max-width: 600px;
}

.product-unavailable {
  color: rgb(255, 70, 70);
}

.cart-wrapper {
  overflow: hidden;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  /* border: 1px solid green; */
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.cart-info {
  font-size: 2rem;
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.cart-close-menu {
  font-size: 18px;
  background: rgb(215, 215, 215);
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  transition: 0.35s ease-in-out;
  justify-content: center;
}

.cart-close-menu:hover {
  cursor: pointer;
  background: rgb(165, 165, 165);
  transition: 0.35s ease-in-out;
}

.empty-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cart-content {
  /* border: 1px solid blue; */
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

}

.product {
  height: 50%;
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
}

.product-image img {
  height: 100%;
}

.product-details {
  padding: 20px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid magenta; */

}

.product-price {
  font-size: 21px;
  font-weight: normal;
}

.product-title {
  font-size: 18px;
  font-weight: bolder;
}

.product-details-top {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.product-details-bottom {
  display: flex;
  justify-content: space-between;
}


.cart-info span:nth-child(1) {
  display: flex;
  align-items: center;
}

.cart-info span:nth-child(3) {
  font-size: 21px;
  display: flex;
  align-items: center;
  color: var(--themeColor);
}

.cart-subtotal {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.subtotal-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtotal-top span {
  color: var(--themeColor);
}

h5 {
  font-size: 2rem;
  margin: 0;
}

.subtotal-bottom {
  width: 100%;
}

.button-pay-with-stripe {
  background: var(--themeColor);
  color: #fff;
  width: 100%;
  height: 50px;
  transition: 0.35s ease-in-out;
}

.button-pay-with-stripe:hover {
  cursor: pointer;
  background: black;
  transition: 0.35s ease-in-out;
}

.product-details-bottom div:nth-child(2) {
  color: red;
}

.product-details-bottom div:nth-child(2):hover {
  cursor: pointer;
}

.success-page-wrapper {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.email-ref {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.button-back-to-mail-page {
  background: black;
  color: #fff;
  height: 60px;
  width: 300px;
  font-weight: normal;
  margin-top: 50px;
  transition: 0.35s ease-in-out;
}

.button-back-to-mail-page:hover {
  background: var(--themeColor);
  transition: 0.35s ease-in-out;
  cursor: pointer;
}

.loader-wrapper {
  z-index: 100;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 60px;
  color: rgb(0, 0, 0);
  border: 5px solid magenta;
  background: rgb(255, 255, 255);

}

.loader-container {
  height: 100%;
  width: 100%;
}

.policy-template {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


@media screen and (max-width: 1100px) {

  .success-page-wrapper {
    align-items: center;
    justify-content: center;
  }

  .success-page-container p {
    margin: 20px 0px;
    text-align: center;
  }

  .button-back-to-mail-page {
    width: 100%;
  }


  .main-container {
    padding: 0 12px;
  }

  .home-page-container {
    flex-direction: column;
  }

  .right {
    order: 1;
  }

  .left {
    order: 2;
  }

  .right img {
    max-width: 500px;
  }

  .button-section {
    flex-direction: column;
  }

  .top {
    order: 2 !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .top div:nth-child(1) {
    order: 1
  }

  .top div:nth-child(1) {
    margin-top: 12px;
  }

  .bottom {
    order: 1 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .bottom div:nth-child(1) {
    order: 1;
  }

  .bottom:nth-child(2) {
    order: 2;
  }

  .policy a:nth-child(2) {
    padding: 0;
  }

  .policy {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .quantity-container {
    width: 100% !important;
  }

  .qty-plus {
    height: 70px !important;
  }

  .qty-minus {
    height: 70px !important;
  }

  .price {
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 2rem !important;
    text-align: center;
  }

  h3 {
    text-align: center;

  }

  .cart-info {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 0;
  }

  .cart-info span:nth-child(1) {
    display: none;
  }


  .desc h3 {
    text-align: left !important;
  }

  .cart-wrapper {

    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 125vh;
    width: 100%;
    position: absolute;
    top: 80px;


  }

  .cart-container {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .product {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-image img {
    width: 200px;
  }

  .product-details {
    padding: 0px;
    gap: 20px;
    flex-direction: column;
    text-align: center;
  }

  .product-details-top {
    flex-direction: column;

  }

  .product-details-bottom {
    flex-direction: column;

  }

  .subtotal-top h5,
  .subtotal-top span {
    text-align: center;
  }

  .subtotal-top {
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .subtotal-bottom {
    align-items: center;
    margin-bottom: 20px;
  }

  .cart-content {
    height: auto;
  }

  .empty-cart h5 {
    font-size: 16px !important;
  }

  .empty-cart svg {
    height: 30px;
  }

}